<div class="sidebar__container">
  <div class="sidebar__inner">
    <div class="sidebar__main">
      <div class="sidebar__logo">
        <span> Interview </span>
      </div>
      <nav class="navigation">
        <a [href]="option.link" *ngFor="let option of menuOptions">
          <i [ngClass]="option.icon"></i>
          <span class="navigation__label">{{ option.name }}</span>
          <span class="navigation__pill" *ngIf="option.count > 0">
            <button type="button">
              <span> {{ option.count }} </span>
            </button>
          </span>
        </a>
      </nav>
      <button
        *ngIf="!signedin"
        pButton
        pRipple
        label="Sign In"
        icon="pi pi-user"
        class="w-full"
        (click)="signInDialog = true"
      ></button>
      <button
        *ngIf="signedin"
        pButton
        pRipple
        label="Sign Out"
        icon="pi pi-user"
        class="w-full"
        (click)="signInDialog = true"
      ></button>
    </div>
  </div>
</div>

<app-sign-in
  [signInDialog]="signInDialog"
  (closeSignIn)="closeSignIn($event)"
></app-sign-in>
