<div class="sidebar__container">
  <div class="sidebar__inner">
    <div class="sidebar__main">
      <div class="sidebar__logo">
        <span> Interview </span>
      </div>
      <nav class="navigation">
        <a href="#" *ngFor="let option of menuOptions">
          <i [ngClass]="option.icon"></i>
          <span class="navigation__label">{{ option.name }}</span>
          <span class="navigation__pill" *ngIf="option.count > 0">
            <button type="button">
              <span> {{ option.count }} </span>
            </button>
          </span>
        </a>
      </nav>
    </div>
  </div>
</div>
